*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: $root-font-size + px;
  font-weight: normal;
  min-width: 320px;
  line-height: (36/21);
  color: $font-color;
  font-family: $font-family;
  background-color: $background-main;

  @include font_smoothing;
}

a {
  text-decoration: none;
  transition: all 0.3s;
}

:link {
  color: inherit;
}

:visited {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

///////////////////////////////////////////////////////////////   FORMS
input,
select {
  border: none;
  background: none;
}

label {
  cursor: pointer;
  user-select: none;
}

////////////////////////////only vertical resize for textareas
textarea {
  resize: vertical;
}

/////////////////////////styles for disabled elements
[disabled] {
  cursor: not-allowed;
  opacity: 0.8;
  user-select: none;
}

.hidden {
  display: none;
}

///////////////////////////for custom page Wordpress
.custom-page {
  .container {
    flex-flow: column;
  }
}

.custom-page__heading {
  text-align: center;
  width: 100%;
  max-width: 100%;
}

.page__wrap {
  width: 100%;
  max-width: 100%;
}

.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  max-width: 100%;
}

.text-underline {
  text-decoration: underline;
}

.mb-5 {
  margin-bottom: 18px;
}

.text-theme {
  color: $theme-color;
}

.justify-center {
  justify-content: center;
}
