.blog{

  &__decor {
    &::after {
      content: "";
      position: absolute;
      background-image: url(../img/puzzle-yellow.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      pointer-events: none;
      left: 45%;
      top: -55px;
      width: 140px;
      height: 140px;
      z-index: 1;
      filter: drop-shadow(0px 0px 133px rgba(236, 200, 83, 0.33));
  }
    &::before {
      content: "";
      position: absolute;
      background-image: url(../img/puzzle-yellow.svg);
      background-repeat: no-repeat;
      filter: drop-shadow(0px 0px 133px rgba(236, 200, 83, 0.77));
      background-size: contain;
      background-position: center center;
      pointer-events: none;
      bottom: -75px;
      width: 140px;
      height: 140px;
      transform: rotate(193deg);
      z-index: 1;
      right: 8%;
    }
  }
  
  &__box {
    padding-bottom: 85px;
    background-color: #f8f9f9;

    position: relative;      
    background-image: url(../img/puzzle-blue.svg), url(../img/puzzle-yellow.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: 2% calc(100% - 275px), 90% 600px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 338px;
      background-color: $theme-color;
    }
  }

  .col {
    margin-bottom: $gutter +px;
  }

  .new-card {
    border: 1px solid #afb4ba;
  }
}
 