.section {
  padding: 50px 0;

  @include min("xl") {
    padding: 170px 0 185px;
  }

  &--white {
    background-color: #fff;
  }

  &--page {
    padding-top: 20px;
  }

  &__ttl {
    margin-top: 0;
    line-height: 1.2;
    font-size: 35px;

    @include min("sm") {
      font-size: 72px;
    }

    i {
      &:last-child {
        margin-left: 10px;
      }
    }

    &--sm {
      font-size: 30px;

      @include min("sm") {
        font-size: 40px;
      }
    }
  }
}

.last-news {
  overflow: hidden;

  .row {
    position: relative;

    &::before {
      position: absolute;
      pointer-events: none;
      left: 45%;
      top: -70px;
      content: "";
      background-image: url(../img/puzzle-yellow.svg);
      background-repeat: no-repeat;
      filter: drop-shadow(0px 0px 133px rgba(236, 200, 83, 0.77));
      width: 140px;
      height: 140px;
      background-repeat: no-repeat;
      background-position: right center;
      background-size: contain;
      transform: rotate(-239deg) scaleX(-1);
    }
  }

  .container {
    &::before {
      position: absolute;
      pointer-events: none;
      left: -46px;
      top: 84%;
      content: "";
      background-image: url(../img/puzzle-yellow.svg);
      background-repeat: no-repeat;
      filter: drop-shadow(0px 0px 133px rgba(236, 200, 83, 0.77));
      width: 170px;
      height: 170px;
      background-repeat: no-repeat;
      background-position: right center;
      background-size: contain;
      transform: rotate(-398deg) scaleX(-1);
    }
    &::after {
      position: absolute;
      pointer-events: none;
      right: -98px;
      top: 84%;
      content: "";
      background-image: url(../img/puzzle-yellow.svg);
      background-repeat: no-repeat;
      filter: drop-shadow(0px 0px 133px rgba(236, 200, 83, 0.77));
      width: 170px;
      height: 170px;
      background-repeat: no-repeat;
      background-position: right center;
      background-size: contain;
      transform: rotate(-153deg) scaleX(-1);
      z-index: -1;
    }
  }
}

.index-stat {
  @include min("sm") {
    display: flex;
    align-items: baseline;
  }
  text-align: center;

  &__number {
    color: #e9c44d;
    font-weight: 500;
    font-size: 125px;
    margin-right: 10px;

    @include max("sm") {
      line-height: 1;
    }
  }
  &__text {
    font-size: 30px;
    color: rgba($theme-color, 0.66);
  }
}

.index-stats {
  padding-bottom: 95px;

  .section__ttl {
    margin-bottom: 20px;
  }
  .row {
    justify-content: center;
    @include min("xl") {
      justify-content: space-between;
    }
  }

  .col {
    @include min("xl") {
      width: auto !important;
    }
    @include max("sm") {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}

.digit-archive {
  background-image: url(../img/images/digit-archive-bg.svg);
  background-repeat: no-repeat;
  background-position: right center;
  overflow: hidden;

  @include min("lg") {
    .col {
      &:nth-child(2) {
        padding-top: 130px;
      }
      &:nth-child(3) {
        transform: translateY(-130px);
      }
    }
  }

  .row {
    position: relative;

    &::before {
      position: absolute;
      pointer-events: none;
      left: -62px;
      top: 92px;
      content: "";
      background-image: url(../img/puzzle-yellow.svg);
      background-repeat: no-repeat;
      filter: drop-shadow(0px 0px 133px rgba(236, 200, 83, 0.77));
      width: 140px;
      height: 140px;
      background-repeat: no-repeat;
      background-position: right center;
      background-size: contain;
      transform: rotate(-239deg) scaleX(-1);
    }
  }
}
