.post{
  overflow: hidden;
  &__grid{
    @include min('md') {
      display: flex;
    }
  }
  &__content{
    flex-grow: 1;
    @include min('md') {
      padding-right: 70/1700*100%;
    }  }
  &__content-img {
    margin-bottom: 75/1155*100%;
    position: relative;
    
    &::before {
      pointer-events: none;
      content: '';
      position: absolute;
      background-image: url(../img/puzzle-yellow.svg);
      background-repeat: no-repeat;
      background-size: contain;
      width: 134px;
      height: 134px;
      z-index: 10000;
      filter: drop-shadow(0px 0px 133px rgba(236, 200, 83, 0.33));
      top: -64px;
      right: 15%;
      transform: rotate(-182deg) scale(-1);
    }

    img {
      display: block;
      width: 100%;
      object-fit: cover;
      min-height: 400px;
    }
  }
  &__content-box{
    color: $theme-color;
    font-weight: 500;
    padding-bottom: 45px;

    .ttl-line {
      @include min('md') {
        padding-bottom: 15px;
      }
    }
  }
  &__cnt {
    h2 {
      @extend .ttl-line;
    }
    color: $theme-color;
    font-weight: 500;
  }
  &__last{
    @include min('md'){
      width: 475/1700*100%;
      flex-shrink: 0;
      min-width: 400px;
      transform: translateY(-90px);

      .section__ttl {
        padding-bottom: 25px;
      }
    }
  }

  .blog__box {
    background-position: 99% 96%, 100% 600px;
  }

  @include min('md') {
    .person__main-ttl {
      margin-bottom: 37px ;
      max-width: ((1700 - 475)/1700*100%);
    }
  }

  .blog__box::before {
    height: 354px;

    background-image: url(../img/images/op-bg.png);
    background-repeat: no-repeat;
    background-position: 97% 0%;
  }
}
