.post{
  overflow: hidden;
  &__grid{
    @include min('md') {
      display: flex;
    }
  }
  &__content{
    flex-grow: 1;
    @include min('md') {
      padding-right: 70/1700*100%;
    }  }
  &__content-img {
    margin-bottom: 75/1155*100%;
    position: relative;
    
    &::before {
      content: "";
      position: absolute;
      background-image: url(../img/images/last-news.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      pointer-events: none;
      left: 70%;
      top: -150px;
      width: 350px;
      height: 350px;
      z-index: 1;
    }

    img {
      display: block;
      width: 100%;
      object-fit: cover;
      min-height: 400px;
    }
  }
  &__content-box{
    color: $theme-color;
    font-weight: 500;
    padding-bottom: 45px;

    .ttl-line {
      @include min('md') {
        padding-bottom: 15px;
      }
    }
  }
  &__last{
    @include min('md'){
      width: 475/1700*100%;
      flex-shrink: 0;
      min-width: 400px;
      transform: translateY(-90px);

      .section__ttl {
        padding-bottom: 25px;
      }
    }
  }

  .blog__box {
    background-position: 99% 96%, 100% 600px;
  }

  @include min('md') {
    .person__main-ttl {
      margin-bottom: 37px ;
      max-width: ((1700 - 475)/1700*100%);
    }
  }

  .blog__box::before {
    height: 354px;

    background-image: url(../img/images/op-bg.png);
    background-repeat: no-repeat;
    background-position: 97% 0%;
  }
}
