.theatre {
  &__gallery {
    position: relative;
    padding-top: 151px;
    padding-bottom: 165px;
    background-color: #f8f9f9;

    &::before {
      pointer-events: none;
      content: '';
      position: absolute;
      background-image: url(../img/puzzle-yellow.svg);
      background-repeat: no-repeat;
      background-size: contain;
      width: 134px;
      height: 134px;
      z-index: 10000;
      filter: drop-shadow(0px 0px 133px rgba(236, 200, 83, 0.33));

      top: -83px;
      left: 5%;
      transform: rotate(-36deg) scaleX(-1);
    }


    &::after {
      pointer-events: none;
      content: '';
      position: absolute;
      background-image: url(../img/puzzle-blue.svg);
      background-repeat: no-repeat;
      background-size: contain;
      width: 147px;
      height: 147px;
      top: 155px;
      right: 3%;
    }
    
    .section__ttl  {
      @include min('sm') {
        font-size: 48px;
      }
    }

    .sliders {
      &::before {
        content: none;
      }
    }

    .container {
      z-index: 3;
    }
  }

  &__more-info {
    &::before {
      transform: rotate(106deg) scale(-1);
      top: -71px;
      
    right: 10%;
      bottom: auto;
    }
  }

  &__video {
    position: relative;
    &::before {
      pointer-events: none;
      content: '';
      position: absolute;
      background-image: url(../img/puzzle-yellow.svg);
      background-repeat: no-repeat;
      background-size: contain;
      width: 134px;
      height: 134px;
      top: -59px;
      left: 5%;
      z-index: 10000;
      transform: rotate(6deg) scaleX(1);
      filter: drop-shadow(0px 0px 133px rgba(236, 200, 83, 0.33));
    }
    @include min('lg') {
      .player__btn  {
        width: 300px;
        height: 300px;
      }

      .player__ttl {
        left: auto;
        font-size: 36px;
        line-height: 48px;
        bottom: 60%;
        max-width: 500px;
        max-height: initial;
        right: calc(50% + 150px);
      }
    }
  }
}