<div class="abc">
  <div class="container">
    <div class="abc__inner">
      <div class="abc__box">
        <a href="" class="abc__link">а</a>
        <a href="" class="abc__link">б</a>
        <a href="" class="abc__link">в</a>
        <a href="" class="abc__link">г</a>
        <a href="" class="abc__link">д</a>
        <a href="" class="abc__link">е</a>
        <a href="" class="abc__link">ё</a>
        <a href="" class="abc__link">ж</a>
        <a href="" class="abc__link">з</a>
        <a href="" class="abc__link">и</a>
        <a href="" class="abc__link">й</a>
        <a href="" class="abc__link">к</a>
        <a href="" class="abc__link">л</a>
        <a href="" class="abc__link">м</a>
        <a href="" class="abc__link">н</a>
        <a href="" class="abc__link">о</a>
        <a href="" class="abc__link">п</a>
        <a href="" class="abc__link">р</a>
        <a href="" class="abc__link">с</a>
        <a href="" class="abc__link">т</a>
        <a href="" class="abc__link">у</a>
        <a href="" class="abc__link">ф</a>
        <a href="" class="abc__link">х</a>
        <a href="" class="abc__link">ц</a>
        <a href="" class="abc__link">ч</a>
        <a href="" class="abc__link">ш</a>
        <a href="" class="abc__link">щ</a>
        <a href="" class="abc__link">ъ</a>
        <a href="" class="abc__link">ы</a>
        <a href="" class="abc__link">ь</a>
        <a href="" class="abc__link">э</a>
        <a href="" class="abc__link">ю</a>
        <a href="" class="abc__link">я</a>
        <a href="" class="abc__link">1</a>
        <a href="" class="abc__link">2</a>
        <a href="" class="abc__link">3</a>
        <a href="" class="abc__link">4</a>
        <a href="" class="abc__link">5</a>
        <a href="" class="abc__link">6</a>
        <a href="" class="abc__link">7</a>
        <a href="" class="abc__link">8</a>
        <a href="" class="abc__link">9</a>
        <a href="" class="abc__link">0</a>
        <a href="" class="abc__link">A</a>
        <a href="" class="abc__link">B</a>
        <a href="" class="abc__link">C</a>
        <a href="" class="abc__link">D</a>
        <a href="" class="abc__link">E</a>
        <a href="" class="abc__link">F</a>
        <a href="" class="abc__link">G</a>
        <a href="" class="abc__link">H</a>
        <a href="" class="abc__link">I</a>
        <a href="" class="abc__link">J</a>
        <a href="" class="abc__link">K</a>
        <a href="" class="abc__link">L</a>
        <a href="" class="abc__link">M</a>
        <a href="" class="abc__link">N</a>
        <a href="" class="abc__link">O</a>
        <a href="" class="abc__link">P</a>
        <a href="" class="abc__link">Q</a>
        <a href="" class="abc__link">R</a>
        <a href="" class="abc__link">S</a>
        <a href="" class="abc__link">T</a>
        <a href="" class="abc__link">U</a>
        <a href="" class="abc__link">V</a>
        <a href="" class="abc__link">W</a>
        <a href="" class="abc__link">X</a>
        <a href="" class="abc__link">Y</a>
        <a href="" class="abc__link">z</a>
      </div>
    </div>
  </div>
</div>
