<div class="main-slider__slide">
  <div class="main-slider__slide-img">
    <img src="img/images/slider-image.jpg" alt="" />
  </div>
  <div class="main-slider__slide-content">
    <div class="main-slider__slide-ttl-wrp">
      <div class="main-slider__slide-ttl">
        <span>Новая подія</span><br />
        <span>в нашому архіві</span>
      </div>
    </div>
    <p class="main-slider__slide-txt">
      Lorem ipsum dolor sit amet, consectetur adipiscing euismod bibendum
      laoreet рroin gravida dolor sit amet lacus accumsan et viverra justo
      commodo
    </p>
    <a href="" class="btn btn--bordered">ДЕТАЛЬНІШЕ</a>
  </div>
</div>
<div class="main-slider__slide">
  <div class="main-slider__slide-img">
    <img src="img/images/slider-image.jpg" alt="" />
  </div>
  <div class="main-slider__slide-content">
    <div class="main-slider__slide-ttl-wrp">
      <div class="main-slider__slide-ttl">
        <span>Новая подія</span><br />
        <span>в нашому архіві</span>
      </div>
    </div>
    <p class="main-slider__slide-txt">
      Lorem ipsum dolor sit amet, consectetur adipiscing euismod bibendum
      laoreet рroin gravida dolor sit amet lacus accumsan et viverra justo
      commodo
    </p>
    <a href="" class="btn btn--bordered">ДЕТАЛЬНІШЕ</a>
  </div>
</div>
