<div class="main-slider">
  <div class="container">
    <div class="main-slider__slick js-main-slick">
      //= main-slide.html
    </div>
    <div class="main-slider__nav">
      <div class="main-slider__nav-counts">
        <span class="js-main-slider-current-slide">0</span>
        /
        <span class="js-main-slider-all-slides">0</span>
      </div>
      <div class="main-slider__nav-btns">
        <button type="button" class="main-slider__btn js-main-slider-prev">
          <i class="sprite sprite-arrow-left"></i>
        </button>
        <button type="button" class="main-slider__btn js-main-slider-next">
          <i class="sprite sprite-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
