<article class="new-card">
  <div class="new-card__img"><img src="img/images/new-card.jpg" alt="" /></div>
  <div class="new-card__box">
    <h3 class="new-card__ttl">
      <a href="" class="">УКФ та ГО «Гараж Генг»</a>
    </h3>
    <p class="new-card__content">
      Lorem ipsum dolor amet, c onsectetur adipiscing sed eiusmod tempor
      incididunt ut labore dolore magna aliqua. Ut enim ad minim veniam, quis
      exercitation ullamco laboris nisi ut ex commodo velit esse cillum dolore
      eu fugiat nulla pariatur.
    </p>
    <footer class="new-card__footer">
      <span class="new-card__views"><i>
        <svg width="30" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.18 19.84"><defs><style>.cls-1{fill:none;stroke:#82878e;stroke-miterlimit:10;stroke-width:2px}</style></defs><circle class="cls-1" cx="15.37" cy="9.9" r="5.19"/><path class="cls-1" d="M15.37 1.42C7.71 1.42 1.46 9.9 1.46 9.9s6.69 8.53 14.35 8.53 13.91-8.49 13.91-8.49S23 1.42 15.37 1.42z"/></svg>
      </i> 133</span>
      <time class="new-card__date">Февралия 30, 2020</time>
    </footer>
  </div> 
</article>
