<div class="pagination">
  <a href="#" class="btn btn--bordered pagination__arrow"
    > <i class="sprite sprite-chevron-left"> </i>Попередня</i
  ></a>
  <ul class="pagination__list has-shadow">
    <li class="pagination__item "><a href="#">1</a></li>
    <li class="pagination__item isActive"><a href="#">2</a></li>
    <li class="pagination__item"><a href="#">3</a></li>
    <li class="pagination__item"><a href="#">4</a></li>
    <li class="pagination__item"><a href="#">5</a></li>
    <li class="pagination__item"><a href="#">6</a></li>
    <li class="pagination__item"><a href="#">7</a></li>
    <li class="pagination__item"><a href="#">8</a></li>
    <li class="pagination__item"><span>/</span></li>
    <li class="pagination__item"><a href="#">33</a></li>
  </ul>
  <a href="#" class="btn btn--bordered pagination__arrow"
    >Наступна <i class="sprite sprite-chevron-right"></i
  ></a>
</div>
