<!-- social -->
<div class="social">
  <ul class="social__list">
    <li class="social__item">
      <a href="#" target="_blank" title="Facebook">Facebook</a>
    </li>
    <li class="social__item">
      <a href="#" target="_blank" title="Vkontakte">Vkontakte</a>
    </li>
    <li class="social__item">
      <a href="#" target="_blank" title="Twitter">Twitter</a>
    </li>
    <li class="social__item">
      <a href="#" target="_blank" title="Google+">Google+</a>
    </li>
  </ul>
</div>
<!-- social end -->
