.abc {
  position: relative;
  &::after {
    position: absolute;
    pointer-events: none;
    top: -68px;
    right: 69px;
    content: "";
    background-image: url(../img/puzzle-yellow.svg);
    background-repeat: no-repeat;
    filter: drop-shadow(0px 0px 133px rgba(236, 200, 83, 0.77));
    width: 140px;
    height: 140px;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    transform: rotate(-239deg) scaleX(-1);
  }
  &__inner {
    overflow: auto;
    font-size: 0;
    background-color: #fff;
    box-shadow: 0px 0px 193.03px 5.97px rgba($theme-color, 0.15);
  }

  &__box {
    min-width: 900px;
    padding: 53px 70px;
  }

  &__link {
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    border-bottom: 1px solid #868e97;
    margin: 5px 8px;
    color: $theme-color;

    &:hover,
    &.isActive {
      color: $yellow;
    }
  }
}
