.new-card {
  background: #fff;
  color: rgba(#1a283a, 0.66);

  &__img {
    height: 337px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &__ttl { 
    color: #1a283a;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.2;
    margin-top: 0;
    text-align: left;

    &:hover {
      color: $yellow;
    }

    margin-bottom: 20px;

    @include min("md") {
      font-size: 36px;
    }
  }
  &__box {
    padding: 36px 20px 20px;
    text-align: justify;

    @include min("md") {
      padding: 36px 50px 45px;
    }
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include max("md") {
      font-size: 16px;
    }
  }
  &__views {
    display: flex;
    align-items: center;

    i {
      margin-right: 5px;
    }
  }
  &__date {
    font-weight: 500;
  }
}
