//template for generating styles for svg sprite
.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-facebook {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-twitter {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-vkontakte {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
