.tbl-wrap {
  width: 100%;
  overflow: auto;
}

.tbl {
  min-width: 1200px;
  table-layout: fixed;
  font-weight: 500;
  font-size: 24px;
  width: 100%;

  color: $theme-color;

  a:not(.btn) {
    border-bottom: 1px dotted currentColor;

    &:hover {
      border-color: transparent;
    }
  }

  th:empty {
    border: none !important;
    padding: 0 !important;
  }

  tr.no-top-border {
    td {
      border-top: none;
    }
  }

  td,
  th {
    border: 2px solid #d2d4d6;
    padding: 15px;

    @include min("lg") {
      padding: 27px 40px;
    }

    &:first-child {
      border-left: none;
      padding-left: 0;
    }

    &:last-child {
      border-right: none;
      padding-right: 0;
    }
  }

  tr {
    &:last-child {
      td {
        border-bottom: none;
      }
    }
  }

  thead {
    th {
      border-top: none;
      text-align: left;
    }
  }
}




.table-search {
  position: relative;
  display: flex;
  justify-content: space-between;

  &__btn{
    background: none;
    border: none;
    padding: 0;
    &:hover {
      color: $yellow;
    }
    &:focus {
      outline: none;
    }

    &--static {
      .table-search.isOpened & {
        opacity: 0;
      }
      margin-left: 10px;
    }
    &--left {
      position: absolute;
      left: 0;
      top: 0;;
    }
    &--right {
      position: absolute;
      right: 0;
      top: 0;;
    }
  }

  &__txt {
    .table-search.isOpened & {
      opacity: 0;
    }
  }

  &__box{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    display: none;

    .table-search.isOpened & {
      display: block;
    }
  }

  &__search-input {
    display: block;
    font-size: 20px;
    box-sizing: border-box !important;
    height: 35px;
    border-bottom: 2px solid $theme-color;
    width: 100%;
    padding: 0 22px;

    &:focus {
      outline: none;
    }
  }

  &__results {
    max-height: 300px;
    overflow: auto;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
    right: 0;
    z-index: 10;
    padding: 10px 22px ;
    display:none;
    .table-search.isOpened & {
      display: block;
    }

    &:empty {
      display: none;
    }
  }
  &__result {
    display: block;
    
    font-size: 20px;
    font-weight: 400;
    border-bottom: none !important;

    &:not(:last-child) {
      border-bottom: 1px solid #d8d9db !important;
      margin-bottom: 8px;
    }

    &:hover {
      color: $yellow;
    }
  }
}