.breadcrumbs {
  font-size: 18px;
  padding: 30px 0 20px;

  @include min("lg") {
    padding-top: 56px;
  }
  .container {
    > * {
      margin-bottom: 10px;
      display: inline-block;
      vertical-align: top;
    }
  }
  a {
    border-bottom: 1px dotted currentColor;
    position: relative;

    &:hover {
      opacity: 0.7;
    }

    &:not(:last-child) {
      margin-right: 44px;
    }

    &::after {
      content: "»";
      position: absolute;
      right: -25px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  span {
    color: #6c7784;
  }
}
