//only vertical resize for textareas
textarea {
  resize: vertical;
  color: #828284;;
  min-height: 200px;
}


.form-control {
    width: 100%;
    border: 1px solid #d2d4d6;
    background-image: none;
    background-color: #fff;
    color: #828284;;
  box-sizing: border-box;
    outline: none;
    border-radius: 0;
    font-size: 18px;
    color: #828284;
    font: inherit;
    transition: border-color ease-in-out 0.2s;
    padding: 10px 19px;

    &:focus{
      border-color: $theme-color;
    }

    @include placeholder;
    @include placeholder--focus;
}

label {
    cursor: pointer;
    user-select: none;
}

//styles for disabled elements
[disabled],
button[disabled],
html input[disabled] {
    cursor: not-allowed;
    opacity: 0.8;
    user-select: none;
}

input[type='submit']{
  border: none;
  background: none;
  transition: background-color 0.3s;

  &:hover{

  }
}


.form-item {
  position: relative;
  margin-bottom: 30px;

  &__lbl {
    color: $theme-color;
    font-size: 18px;
    line-height: 1;
    white-space: nowrap;
    font-weight: 500;
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    display: inline-block;
    padding: 0 10px ;
  }
}